MONGO_URI=mongodb://127.0.0.1:27017/TheWeekend
JWT_SECRET=change-me
PORT=3000
FRONTEND_PUBLIC_ORIGIN=http://localhost:8080

# VNPAY
VNPAY_TMN_CODE=
VNPAY_HASH_SECRET=
VNPAY_PAY_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html

# VietQR
VIETQR_BANK_ID=
VIETQR_ACCOUNT_NO=
VIETQR_ACCOUNT_NAME=THEWEEKEND
VIETQR_TEMPLATE=compact2
VIETQR_WEBHOOK_SECRET=

# Booking
BOOKING_TTL_MINUTES=20
